[Unit]
Description=Kafka Service
Documentation=http://kafka.apache.org
Requires=network.target
After=network.target
[Service]
Type=simple
User=root
Group=root
#Environment=JAVA_HOME=/usr/lib/jvm/jdk1.8.0_151
#Environment=JRE_HOME=/usr/lib/jvm/jdk1.8.0_151
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=on-failure
[Install]
WantedBy=multi-user.target
