robotframework==7.0
robotframework-jsonlibrary==0.5
robotframework-requests==0.9.7
robotframework-seleniumlibrary==6.3.0
robotframework-sshlibrary==3.8.0

pytest==8.3.3
playwright==1.48.0
pytest-playwright==0.5.2