[Unit]
Description=flask-demo.service - A Flask application run with Gunicorn.
After=network.target

[Service]
User=root
Group=root
Environment="PATH=/opt/new_app/bin"
WorkingDirectory=/opt/python_flask/app
ExecStart=/opt/new_app/bin/gunicorn --workers 3 --bind unix:/opt/python_flask/app.sock main:app

[Install]
WantedBy=multi-user.target
