{% extends "layout.html" %}
{% block index %}
    <h1>Please Upload file here</h1>
{{ message }}
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" multiple="" name="file[]">
        <select name="img_album">

            {% for each_album in image_album %}
            <option value='{{ each_album.album_name }}'>{{ each_album.album_name }}</option>
            {% endfor %}
        </select>
        <h4>
            City of PIC</br>
        <input type="text" name="img_description">
        </h4>


        <input type="submit" value="upload">
    </form>
</body>
</html>
{% endblock %}